.work-list-box {
    margin-top: 4px;
}

.list-group-item>button {
    width: 30px;
}

.list-group-item>button:last-child {
    margin-right: 10px;
}

.status-checkbox, .list-group-item>span {
    position: relative;
    top: 5px;
}

.status-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.list-group-item>span {
    font-size: medium;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
    color: darkgray;
}